@import url('./__item/photo-grid__item.css');




.photo-grid {
  max-width: 1184px;
  margin: 102px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  justify-content: center;
  grid-gap: 16px;
}


@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-row-gap: 14px;
    grid-column-gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    max-width: 720px;
    margin: 97px auto 0;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    grid-template-columns: 1fr;
    max-width: 90%;
    gap: 9px;
    margin-top: 32px;
  }
}
