.intro__text {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  max-width: 683px;
  margin: 48px 0 28px 0;
}






@media screen and (max-width: 767px) {
  .intro__text {
    margin: 32px 0 32px 0;
    font-size: 16px;
    line-height: 27px;
  }
}
