@import url('./__cover-bg/cover__cover-bg.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');




.cover {
  max-width: 1184px;
  margin: 102px auto 0;
}


@media screen and (max-width: 374px) {
  .cover {
    margin-top: 0;
  }
}
