.lead__caption {
  color: #fff;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}


@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
    margin-bottom: 0;
  }
}
