@import url('./__image/place__image.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__url/place__url.css');
@import url('./__website/place__website.css');



.place {
  padding: 0 0 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 40px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding-bottom: 48px;
    display: block;
  }
}
