.content-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto 48px;
}


@media screen and (max-width: 768px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
    max-width: 520px;
  }
}

@media screen and (max-width: 425px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
    max-width: 520px;
    margin-bottom: 16px;
  }
}
